@import "./base/_variables.scss";
@import "./components/table.scss";

body {
  font-family: $font-family;
  background-color: $color-primary;
  color: $color-secondary;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

  h1 {
    font-weight: $font-weight-extra-bold;
    font-size: 2.5rem;
    text-align: center;
    color: $color-tertiary;
  }
}

// Responsive styles
@media (max-width: $breakpoint-tablet) {
  .app {
    padding: 1rem;

    h1 {
      font-size: 2rem;
    }
  }
}
