// Colors
$color-primary: #edddd4;
$color-secondary: #c44536;
$color-tertiary: #197278;

// Font
$font-family: "Noto Sans", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-extra-bold: 800;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
